
/* div.d-flex.justify-content-between.mt-3 {
    
} */
div.d-flex.flex-column.h-100.p-5.pb-3.text-white.text-shadow-1 {
    padding: 0px 10px 10px 10px !important;
    margin: 0 0 0 0;
    box-shadow: 2px 2px 2px 2px grey !important;
    background-image: url('') !important;
    background-size: cover;
    background-position: center; 
}
.p-5  {
    padding: 0 0 1rem 0 !important;
}   
.movie-card {
    box-shadow: 2px 2px 2px 2px grey !important;
    background-size: cover;
    background-position: center;
    /* background-color: red !important; */
  }
  .card-cover {
    

  }
  .text-bg-dark {
   
  }
.card-button {
    background-color: black !important;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0 0 0 !important;
}
    


 
.svg-button svg {
    fill: currentColor !important;
    color: orange !important;
    padding: 0px !important;
}
.card-btn {
    border-radius: 50%;
}
/* Add this to your 'cards-movie.css' file */
.movie-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    height: 275px!important;
    width: 200px!important; 
  }
  
  .movie-card:active {
    transform: scale(0.95); /* Scale down to 95% to simulate the press */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Add a shadow to simulate the press */
  }
  