/* Background Of the Page */
html, body {
  background-color: #F0FFFF;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
}

/* Button Container First Section */
.custom-buttons-container {
  position: absolute !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  gap: 20px !important;
}

.custom-buttons-container button {
  background-color: #FF6F00 !important;  
  color: white !important;          
  border: none !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

.custom-buttons-container button:hover {
  background-color: #F0FFFF !important; 
  color: #000000 !important;
  font-weight: bold !important;           
}

/* Second Section - Youtube */
.image-placeholder {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.logo-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/* Button Container Reviews Section */
.btn-outline-secondary:hover {
  background-color: #FF6F00; 
  color: white; 
  border-color: #FF6F00; 
}

.review-container {
  padding: 10px;
}


/* .review-container {
  background-color: #343a40; 
  color: white; 
  padding: 30px;
  border-radius: 10px;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.italic-text {
  font-style: italic;
  margin-bottom: 20px;
}
.pt-5 {
  padding-top: 0rem !important;
}
.py-4 {
  padding-top: 0rem !important;
}
.mb-4 {
  margin-top: 0rem !important;
}
.p-5 {
  padding: 10px !important;
}
