:root {
  /* Light Theme Variables */
  --header-bg: #F0FFFF;
  --text-color: #488567;
  --nav-link-hover-bg: #488567;
  --nav-link-hover-color: #B0B083;
  --nav-link-active-bg: #ff6f00;
  --nav-link-active-color: #000000;

  /* Dark Theme Variables */
  --dark-header-bg: #454A4A;
  --dark-text-color: #E1E1C1;
  --dark-nav-link-hover-bg: #B0B083;
  --dark-nav-link-hover-color: #488567;
  --dark-nav-link-active-bg: #ff8c00;
  --dark-nav-link-active-color: #ffffff;
}

/* Dark theme overrides when the dark class is applied to a high-level container */
.page-container.dark {
  --header-bg: var(--dark-header-bg);
  --text-color: var(--dark-text-color);
  --nav-link-hover-bg: var(--dark-nav-link-hover-bg);
  --nav-link-hover-color: var(--dark-nav-link-hover-color);
  --nav-link-active-bg: var(--dark-nav-link-active-bg);
  --nav-link-active-color: var(--dark-nav-link-active-color);
}

header {
  background-color: var(--header-bg);
}

.logo {
  color: var(--text-color);
}

/* Existing styles using variables */
.custom-nav .nav-link {
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color);
  margin: 0 15px;
}

.custom-nav .nav-link:hover {
  text-decoration: none;
  background-color: var(--nav-link-hover-bg);
  color: var(--nav-link-hover-color);
}

.custom-nav .nav-link.active {
  background-color: var(--nav-link-active-bg) !important;
  color: var(--nav-link-active-color);
}

.custom-nav {
  padding-right: 20px;
}