
.web-theme-text {
  color: var(--light-theme-green) !important;
}

header {
  background-color: var(--light-theme-bg);
}

/* Existing styles using variables */
.custom-nav .nav-link {
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
  color: var(--light-theme-green);
  margin: 0 15px;
}

.custom-nav .nav-link:hover {
  text-decoration: none;
  background-color: var(--light-theme-green);
  color: var(--light-theme-brown);
}

.custom-nav .nav-link.active {
  background-color: var(--orange-color) !important;
  color: var(--light-theme-brown);
}

.custom-nav {
  padding-right: 20px;
}

.logo {
  height: 60px; 
  width: auto;
  margin-right: 4px; 
  vertical-align: middle; 
}

/* Dark theme styles */
.page-container.dark .web-theme-text {
  color: var(--dark-theme-green) !important;
}

@media (max-width: 800px) {
  .header-bar{
    flex-direction: column;
    align-items: center;
  }
}

.page-container.dark header {
  background-color: var(--dark-theme-bg);
}

.page-container.dark .custom-nav .nav-link {
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
  color: var(--dark-theme-green);
  margin: 0 15px;
}

.page-container.dark .custom-nav .nav-link:hover {
  text-decoration: none;
  background-color: var(--dark-theme-green);
  color: var(--dark-theme-brown);
}

.page-container.dark .custom-nav .nav-link.active {
  background-color: var(--orange-color) !important;
  color: var(--dark-theme-brown);
}

.page-container.dark .custom-nav {
  padding-right: 20px;
}

.page-container.dark .logo {
  height: 60px; 
  width: auto;
  margin-right: 4px; 
  vertical-align: middle; 
}